<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            crossorigin="anonymous" />
    </head>
</head>

<body>
    {% for i in newss %}
    <div>
        <h1>{{ i.headline }}</h1>
        <p>{{ i.body }}</p>
        <p>>{{ i.date }}</p>
    </div>
    {% endfor %}
</body>

</html>